@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
}
body {
    font-weight: 400;
    font-size: 14px;
}
.none-display {
    display: none;
}

.container {
    width: 100%;
    position: relative;
}
.left{
    width: 362px;
    height: 100%;
    background: rgb(165,251,79);
    background: linear-gradient(340deg, rgba(165,251,79,1) 0%, rgba(9,242,74,1) 35%, rgba(0,255,162,1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}
.logo{
    display: block;
    margin: 50px 0  80px 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 40px;
    color: #fff;
}
.nav__categories{
    list-style: none;
    position: relative;
    padding: 0;
}
.nav__categories li a{
    padding: 20px 24px;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.nav__categories li i {
    font-size: 22px;
    margin-right: 20px;
}
.active{
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 3%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(225, 255, 255, 0.4);
    display: none;
    transition: top 0.3s; 
}
.nav__categories li:hover a{
    color: #07B23B;
    transition: 0.3s;
}
.nav__categories li:hover ~ .active{
    display: block;
}
.nav__categories li:nth-child(1):hover ~ .active{
    top: 3%;
}
.nav__categories li:nth-child(2):hover ~ .active{
    top: 23%;
}
.nav__categories li:nth-child(3):hover ~ .active{
    top: 43%;
}
.nav__categories li:nth-child(4):hover ~ .active{
    top: 63%;
}
.nav__categories li:nth-child(5):hover ~ .active{
    top: 83%;
}
.order{
    position: absolute;
    left: 30px;
    bottom: 40px;
    width: 60px;
    height: 60px;
    background: #fff;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    transition: 0.4s;
    cursor: pointer;
}
.order__btn{
    position: relative;
    width: 100%;
    height: 60px;
    /* border-radius: 36px; */
}
.ordere__btn-wrapper{
    min-width: 100%;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    
}
.order__btn .basket{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    color: #07B23B;
    font-size: 30px;
}
.order__btn .orders__close{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    right: 10% !important;
    color: #ed8d4c;
    transition: color 0.3s;
}
.order__btn .orders__close:hover{
    color: red;
}
.ordere__btn-wrapper p{
    margin-left: 100px;
    font-size: 19px;
    color: transparent;
    transition: color 0.5s;
    letter-spacing: 1.3px;
    white-space: nowrap;
    line-height: 60px;

}
.block{
    height: 75%; 
    width: 300px;
    color: #07B23B;
    overflow: hidden;
}
.order__title{
    display: block;
}
.order__title-green{
    color: #07B23B !important;
    width: 0;
}
.order_counter{
    display: block;
    position: absolute;
    font-size: 16px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -2%;
    top: -2%;
    border-radius: 50%;
    background: rgb(255, 251, 0);
    color: #000;
    text-align: center;
}
.bgcolor{
    background-color: transparent !important;
}
.main{
    background: rgba(198, 43, 185, 0.281);
    height: 100vh;
    margin: 0 350px;
    padding: 70px 60px;
}
.products__list{
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 10px;
}
.products__list .link{
    padding: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 10px;
    min-height: 250px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(225, 255, 255, 0.4);
}
.products__list .link .img__product{
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}
.products__list .link .title{
    padding: 10px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}
.products__list .link .more{
    display: block;
    padding: 5px;
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
    color: rgb(116, 115, 115);
    transition: color 0.3s;
}
.products__list .link .more:hover {
    color: #000;
}
.right{
    position: fixed;
    right: 0;
    top: 0;
    background: rgb(213, 17, 17);
    width: 350px;
    height: 100%;
}
#product_card{
    padding: 30px;
    
}
.description_wrapper{
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
}
.product_card-wrap{
    display: flex;
    margin-bottom: 20px;
}
.product_card-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.price_wrap{
    padding: 20px 0;
}
.product_card-img{
    width: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}
.description_title{
    margin-bottom: 15px;

}
#buy-button,
.form-button{
    display: block;
    padding: 5px;
    width: 100px;
    outline: none;
    border: none;
    background-color: rgb(68, 240, 52);
    border-radius: 5px;
    cursor: pointer;
}
.disNon{
    display: none !important;
}
.vis__hidden{
    width: 0 !important; 
}
.counter_wrapper{
    border: 1px solid rgb(93, 92, 92);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.quantity{
    width: 100%;
    border: none;
    text-align: center;
    padding: 0 5px;
}
.items__control{
    padding: 0 12px;
    height: 100%;
}
.plus{
    border-radius: 0 5px 5px 0;
}
.minus{
    border-radius: 5px 0 0 5px;
}
.items__control:hover{
    background-color: rgb(218, 218, 218);
}
[type="text"]{
    display: block;
    margin: 5px 0;
}
select{
    margin: 5px 0;
}
.form__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.error{
    border-color: #f16b11; 
    background-color: rgb(238, 197, 197);
}

.form__body{
    background: rgb(138, 74, 241);
    padding: 10px 15px;
    border-radius: 10px;
}
.form__title{
    text-align: center;
    margin: 0px;
}
.form__body input,
.form__body select{
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    outline: none;
    padding: 3px 10px;
    margin-bottom: 10px;
}
.form__item{
    margin: 10px 0;
}
#post{
    margin-left: 10px;
}
.post{
    margin: 0 5px;
}
.counter_wrapper{
    margin: 10px 0;
}
.counter{
    height: 25px;
    line-height: 25px;
}
.minus, .plus{
    cursor: pointer;
}
.order__list-wrap{
    margin: 0 auto 10px;
    list-style: none;
    width: 250px;
    height: 100%;
    display: block;
    overflow-y: scroll;
}
.order__list-wrap::-webkit-scrollbar {
    width: 0px;
}
.order__title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order__title-wrapper i {
    font-size: 20px;
    color: #ed8d4c;
    transition: color 0.3s;
    margin-right: 5px;
}
.order__title-wrapper i:hover{
    color: red;
}
.order__list-wrap li{
    width: 100%;
    margin: 0 auto 10px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
}
.order__list-wrap li:last-child{
    margin-bottom: 90px;
}
.order__list-wrap h5{
    display: flex;
    font-size: 14px;
    align-items: center;
    padding: 5px;
    font-weight: 500;
    cursor: pointer;
}
.order__list-wrap h5::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}
.minus__info::before{
    content: '–' !important;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}
.order__list-wrap .order__tab{
    color: #555;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.order__tab-height{
    max-height: 200px !important;
}
.order__tab td{
    border-right: 15px solid transparent;
    border-bottom: 5px solid transparent;
}